<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tech4decv.gistme">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera.flash" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        tools:targetApi="31"
        android:theme="@style/AppTheme">
        <activity
            android:name=".extraActivities.CameraActivity"
            android:exported="false"
            android:label="CameraActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".ChatActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".starredMessageActivity"
            android:exported="false"
            android:label="Starred Messages"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".extraActivities.NewBroadcastActivity"
            android:exported="false"
            android:label="New Broadcast"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".extraActivities.NewGroupActivity"
            android:exported="false"
            android:label="New Group"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/SplashscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>